<div class="container">
  <div class="profile">
    <%= image_tag @user.image.url, alt: "ユーザー画像" %>
    <div><%= "ユーザー名：#{@user.name}" %></div>
    <div><%= "プロフィール：#{@user.profile}"%></div>

    <% if @user.id == @current_user.id %>
      <%= link_to "編集",[:edit, @user]%>
      <%= link_to "削除",@user, method: :delete, data:{ confirm:"ユーザー情報を削除します。よろしいですか？"} %>
    <% end %>
  </div>

  <p class="user-review"><%= @user.name %>の投稿一覧</p>
  <table class="table table-bordered table" width="100%" >
    <thead>
        <tr>
          <th class="table-warning" colspan = "2">タイトル</th>
          <th class="table-warning" rowspan = "2">感想</th>     
        </tr>
        <tr>
          <th class="table-warning" >著者</th>
          <th class="table-warning" >ジャンル</th>
        </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review|%>
      <tr>
        <td colspan ="2" width="40%"><%= review.title %></td>
        <td rowspan ="2" width="60%"><%= review.created_at %>              
                        <% if review.user_id == current_user.id %>
                          <%= link_to "編集", [:edit,review] %>
                          <%= link_to "削除", review, method: :delete,data:{ confirm: "この投稿を削除します。よろしいですか？"} %>
                        <% end %>
                        <br>
                        <%= review.content %><br>
        </td>
      </tr>
      <tr>
        <td colspan="1">
        <%= review.review_authors.pluck(:author).join(",") %>
        </td>
        <td colspan="1"><%= review.genre %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @reviews %>
  <%= page_entries_info @reviews %>
</div>
