<h1>本棚</h1>

<%= render "shared/header" %>

<div>
  <%= link_to "本棚に追加", :new_book %>
</div>

<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont, "タイトル" %>
    <%= f.search_field :title_cont %>
    <%= f.label :author_cont, "著者" %>
    <%= f.search_field :book_authors_author_cont %>   
    <%= f.label :genre_cont,"ジャンル" %> 
    <%= f.search_field :genre_cont%> 
    <%= f.label :finished_at_gteq,"読了日" %> 
    <%= f.search_field :finished_at_gteq %> 
    <%= f.submit %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th><%= Book.human_attribute_name(:title)%></th>
      <th><%= BookAuthor.human_attribute_name(:author)%></th>
      <th><%= Book.human_attribute_name(:genre)%></th>
      <th><%= Book.human_attribute_name(:finished_at)%></th>
      <th><%= %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book|%>
    <tr>
      <td><%= link_to book.title, book %></td>
      <td>
      <% book.book_authors.each do |a| %>
        <%= a.author %>
      <% end %>
      </td>
      <td><%= book.genre %></td>
      <td><%= book.finished_at %></td>
      <td><%= link_to "編集", [:edit, book]%>
          <%= link_to "削除", book, method: :delete, data:{ confirm:"この記録を削除します。よろしいですか？"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
