<h1>みんなの感想</h1>
<div class="container">
  <div class="row">
  <%= link_to "感想を投稿する", :new_review,class:"btn btn-warning btn-sm btn-outline-secondary post" %>
  </div><br>

  <div class="row">
    <%= search_form_for @q do |f| %>
      <%= f.label :title_cont,"タイトル" %>
      <%= f.search_field :title_cont %>
      <%= f.label :author_cont, "著者" %>
      <%= f.search_field :review_authors_author_cont %>
      <%= f.label :genre_cont,"ジャンル" %>
      <%= f.search_field :genre_cont %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="row">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th class="table-warning" rowspan = "3",valign=middle>ユーザー</th>
          <th class="table-warning">タイトル</th>
          <th class="table-warning" rowspan ="3">感想</th>
        </tr>
        <tr>
          <th class="table-warning">著者</th>
        </tr>
        <tr>
          <th class="table-warning">ジャンル</th>
        </tr>
      </thead>
      <tbody>
          <%= render partial: "shared/review_table", collection: @reviews, as: :review %>
      </tbody>
    </table>
  </div>
  <%= paginate @reviews %>
  <%= page_entries_info @reviews %>
</div>  
