<div class="container">
  <h1>感想を投稿する</h1>

  <%= render "shared/errors", obj: @review %>

  <%= form_with model: @review, local: true do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control title-field" %>
    </div>

    <%=f.fields_for :review_authors do |a| %>
      <div class="form-group">
        <%=a.label :author %>
        <%=a.text_field :author, class:"form-control authors-field" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :genre %>
      <%= f.text_field :genre, class:"form-control genre-field" %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, cols: 40, rows: 5, class:"form-control content-field" %>
    </div>
    <%= f.submit "投稿する"%>
  <% end %>
</div>
